/* headers ordenação unit */

#sort-unit-leo-need.sort-header {
    background-color: #45d;
}

#sort-unit-more-more-jump.sort-header {
    background-color: #6ccb20;
}

#sort-unit-vivid-bad-squad.sort-header {
    background-color: #e16;
}

#sort-unit-wonderlands-x-showtime.sort-header {
    background-color: #f90;
}

#sort-unit-25ji-nightcord-de.sort-header {
    background-color: #849;
}

.song-info-panel__head.unit-leo-need::before {
    background-image: url(imagens/icons/leo_need.svg);
}

.song-info-panel__head.unit-more-more-jump::before {
    background-image: url(imagens/icons/more_more_jump.svg);
}

.song-info-panel__head.unit-vivid-bad-squad::before {
    background-image: url(imagens/icons/vivid_bad_squad.svg);
}

.song-info-panel__head.unit-wonderlands-x-showtime::before {
    background-image: url(imagens/icons/wonderlands_x_showtime.svg);
}

.song-info-panel__head.unit-25ji-nightcord-de::before {
    background-image: url(imagens/icons/25ji_nightcord_de.svg);
}

/* headers ordenação virtual singer */

#sort-vs-hatsune-miku.sort-header {
    background-color: #3cb;
}

#sort-vs-kagamine-rin.sort-header {
    background-color: #fc1;
    color: var(--text2);
}

#sort-vs-kagamine-len.sort-header {
    background-color: #fe1;
    color: var(--text2);
}

#sort-vs-megurine-luka.sort-header {
    background-color: #fbc;
    color: var(--text2);
}

#sort-vs-meiko.sort-header {
    background-color: #d44;
}

#sort-vs-kaito.sort-header {
    background-color: #36d;
}

/* Ichika Hoshino */

.ichika .song-modal__content {
    background: linear-gradient(170deg, #3ae, rgb(125, 200, 244));
}

#sort-default-ichika-hoshino.sort-header {
    background-color: #3ae;
    color: var(--text2);
}

/* Saki Tenma */

.saki .song-modal__content {
    background: linear-gradient(170deg, #fd4, rgb(255, 235, 147));
}

#sort-default-saki-tenma.sort-header {
    background-color: #fd4;
    color: var(--text2);
}

/* Honami Mochizuki */

.honami .song-modal__content {
    background: linear-gradient(170deg, #e66, rgb(238, 133, 133));
}

#sort-default-honami-mochizuki.sort-header {
    background-color: #e66;
}

/* Shiho Hinomori */

.shiho .song-modal__content {
    background: linear-gradient(170deg, #bd2, #d7f160);
}

#sort-default-shiho-hinomori.sort-header {
    background-color: #bd2;
    color: var(--text2);
}

/* Minori Hanasato */

.minori .song-modal__content {
    background: linear-gradient(170deg, #ffcdac, #ffb17d);
}

#sort-default-minori-hanasato.sort-header {
    background-color: #ffcdac;
    color: var(--text2);
}

/* Haruka Kiritani */

.haruka .song-modal__content {
    background: linear-gradient(170deg, #9cf, rgb(97, 176, 255));
}

#sort-default-haruka-kiritani.sort-header {
    background-color: #9cf;
    color: var(--text2);
}

/* Airi Momoi */

.airi .song-modal__content {
    background: linear-gradient(170deg, #fac, rgb(255, 127, 178));
}

#sort-default-airi-momoi.sort-header {
    background-color: #fac;
    color: var(--text2);
}

/* Shizuku Hinomori */

.shizuku .song-modal__content {
    background: linear-gradient(170deg, #9ed, rgb(119, 235, 212));
}

#sort-default-shizuku-hinomori.sort-header {
    background-color: #9ed;
    color: var(--text2);
}

/* Kohane Azusawa */

.kohane .song-modal__content {
    background: linear-gradient(170deg, #ff679a, #ff8cb3);
}

#sort-default-kohane-azusawa.sort-header {
    background-color: #ff679a;
}

/* An Shiraishi */

.an .song-modal__content {
    background: linear-gradient(170deg, #0bd, rgb(82, 217, 241));
}

#sort-default-an-shiraishi.sort-header {
    background-color: #0bd;
}

/* Akito Shinonome */

.akito .song-modal__content {
    background: linear-gradient(170deg, #f72, rgb(255, 149, 83));
}

#sort-default-akito-shinonome.sort-header {
    background-color: #f72;
}

/* Toya Aoyagi */

.toya .song-modal__content {
    background: linear-gradient(170deg, #07d, rgb(55, 154, 241));
}

#sort-default-toya-aoyagi.sort-header {
    background-color: #07d;
}

/* Tsukasa Tenma */

.tsukasa .song-modal__content {
    background: linear-gradient(170deg, #fb0, rgb(255, 203, 60));
}

#sort-default-tsukasa-tenma.sort-header {
    background-color: #fb0;
    color: var(--text2);
}

/* Emu Otori */

.emu .song-modal__content {
    background: linear-gradient(170deg, #f6b, rgb(255, 136, 201));
}

#sort-default-emu-otori.sort-header {
    background-color: #f6b;
}

/* Nene Kusanagi */

.nene .song-modal__content {
    background: linear-gradient(170deg, #3d9, rgb(101, 234, 181));
}

#sort-default-nene-kusanagi.sort-header {
    background-color: #3d9;
    color: var(--text2);
}

/* Rui Kamishiro */

.rui .song-modal__content {
    background: linear-gradient(170deg, #b8e, rgb(200, 162, 237));
}

#sort-default-rui-kamishiro.sort-header {
    background-color: #b8e;
    color: var(--text2);
}

/* Kanade Yoisaki */

.kanade .song-modal__content {
    background: linear-gradient(170deg, #b68, rgb(147, 58, 93));
    color: var(--text);
}

#sort-default-kanade-yoisaki.sort-header {
    background-color: #b68;
}

/* Mafuyu Asahina */

.mafuyu .song-modal__content {
    background: linear-gradient(170deg, #88c, rgb(93, 93, 184));
}

#sort-default-mafuyu-asahina.sort-header {
    background-color: #88c;
}

/* Ena Shinonome */

.ena .song-modal__content {
    background: linear-gradient(170deg, #ca8, rgb(196, 134, 71));
}

#sort-default-ena-shinonome.sort-header {
    background-color: #ca8;
    color: var(--text2);
}

/* Mizuki Akiyama */

.mizuki .song-modal__content {
    background: linear-gradient(170deg, #e4a8ca, #cf75a8);
}

#sort-default-mizuki-akiyama.sort-header {
    background-color: #e4a8ca;
    color: var(--text2);
}