@property --song-gradient-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

#leoni-select .multiOpcao-option input {
    accent-color: #45d;
}

#mmj-select .multiOpcao-option input {
    accent-color: #6ccb20;
}

#vbs-select .multiOpcao-option input {
    accent-color: #e16;
}

#wxs-select .multiOpcao-option input {
    accent-color: #f90;
}

#niigo-select .multiOpcao-option input {
    accent-color: #849;
}

/* Ichika Hoshino */

#ichika,
.ichika-hoshino h2,
.ichika-hoshino .text-style {
    color: #3ae;
}

#ichika::after {
    background:
        linear-gradient(170deg,
            rgb(51 170 238 / var(--song-gradient-opacity)),
            rgb(21 111 163 / var(--song-gradient-opacity))),
        var(--bg2);
}

#ichika:hover::after {
    --song-gradient-opacity: 1;
    color: #0c0c0c;
}

.ichika-hoshino .song-modal__infoheader,
.ichika-hoshino .seevideo {
    background: linear-gradient(170deg, #33aaee, #156fa3);
}

.ichika-hoshino .song-modal__content {
    scrollbar-color: #3ae #0c0c10;
    scrollbar-width: thin;
}

.ichika-hoshino .song-modal__content::-webkit-scrollbar-thumb {
    background: #3ae;
}

/* Saki Tenma */

#saki,
.saki-tenma h2,
.saki-tenma .text-style {
    color: rgb(255, 221, 68);
}

#saki::after {
    background:
        linear-gradient(170deg,
            rgb(255 221 68 / var(--song-gradient-opacity)),
            rgb(238 196 7 / var(--song-gradient-opacity))),
        var(--bg2);
}

#saki:hover::after,
.saki-tenma .song-modal__infoheader {
    --song-gradient-opacity: 1;
    color: #0c0c0c;
}

.saki-tenma .song-modal__infoheader,
.saki-tenma .seevideo {
    background: linear-gradient(170deg, #fd4, rgb(238, 196, 7));
}

.saki-tenma .song-modal__content {
    scrollbar-color: #fd4 #0c0c10;
    scrollbar-width: thin;
}

.saki-tenma .song-modal__content::-webkit-scrollbar-thumb {
    background: #fd4;
}

/* Honami Mochizuki */

#honami,
.honami-mochizuki h2,
.honami-mochizuki .text-style {
    color: #e66;
}

#honami::after {
    background:
        linear-gradient(170deg,
            rgb(238 102 102 / var(--song-gradient-opacity)),
            rgb(225 64 64 / var(--song-gradient-opacity))),
        var(--bg2);
}

#honami:hover::after,
.honami-mochizuki .song-modal__infoheader {
    --song-gradient-opacity: 1;
}

.honami-mochizuki .song-modal__infoheader,
.honami-mochizuki .seevideo {
    background: linear-gradient(170deg, rgb(238, 102, 102), rgb(225, 64, 64));
}

.honami-mochizuki .song-modal__content {
    scrollbar-color: #e66 #0c0c10;
    scrollbar-width: thin;
}

.honami-mochizuki .song-modal__content::-webkit-scrollbar-thumb {
    background: #e66;
}

/* Shiho Hinomori */

#shiho,
.shiho-hinomori h2,
.shiho-hinomori .text-style {
    color: #bbde22;
}

#shiho::after {
    background:
        linear-gradient(170deg,
            rgb(187 222 34 / var(--song-gradient-opacity)),
            rgb(177 216 2 / var(--song-gradient-opacity))),
        var(--bg2);
}

#shiho:hover::after,
.shiho-hinomori .song-modal__infoheader {
    --song-gradient-opacity: 1;
    color: #0c0c0c;
}

.shiho-hinomori .song-modal__infoheader,
.shiho-hinomori .seevideo {
    background: linear-gradient(170deg, rgb(187, 222, 34), rgb(177, 216, 2));
}

.shiho-hinomori .song-modal__content {
    scrollbar-color: #bbde22 #0c0c10;
    scrollbar-width: thin;
}

.shiho-hinomori .song-modal__content::-webkit-scrollbar-thumb {
    background: #bbde22;
}

/* Minori Hanasato */

#minori,
.minori-hanasato h2,
.minori-hanasato .text-style {
    color: #ffcdac;
}

#minori::after {
    background:
        linear-gradient(170deg,
            rgb(255 205 172 / var(--song-gradient-opacity)),
            rgb(255 175 122 / var(--song-gradient-opacity))),
        var(--bg2);
}

#minori:hover::after,
.minori-hanasato .song-modal__infoheader {
    --song-gradient-opacity: 1;
    color: #0c0c0c;
}

.minori-hanasato .song-modal__infoheader,
.minori-hanasato .seevideo {
    background: linear-gradient(170deg, #ffcdac, #ffaf7a);
}

.minori-hanasato .song-modal__content {
    scrollbar-color: #ffcdac #0c0c10;
    scrollbar-width: thin;
}

.minori-hanasato .song-modal__content::-webkit-scrollbar-thumb {
    background: #ffcdac;
}